/* General styling */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

/* Body */

body{
    background: #222;
}

/* Whole card body */
.card{
    max-width: 470px;
    background: linear-gradient(135deg, #00feba , #5b548a); 
    width: 90%;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    
}

/* Search and input text */
.search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;


}

.search input{
    padding: 10px 25px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;
    height: 60px;


}

.search button {
    border-radius: 50%;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #ebfffc;
    width: 60px;
    height: 60px;

}

.search button img{
    width: 16px;
}

/* Newyork weather icon */
.weather-icon{
    width: 170px;
    margin-top: 30px;

}

/* Text under weather icon */
.weather h1{
    font-size: 80px;
    font-weight: 500;

}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    
}

/* Wind and humidity section */
.details{
    padding: 50px;
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
    align-items: center;

    
}

/* Left Column */
.col1{
    
    text-align: left;
    align-items: center;
    margin-right: 85px;
    
    
}

.col1 img{
    width: 70px;
    margin-right: 10px;

}

.humidity {
    font-size: 28px;
    margin-top: -6px;

}


/* Right Column*/

.col2{
    
    text-align: left;
    align-items: center;
    
}

.col2 img{
    width: 70px;
    margin-right: 10px;

}


.wind {
    font-size: 28px;
    margin-top: -6px;

}
/* Weather text */
.weather-text{
    font-size: 30px;
    font-weight: 100;
}

.weather{

    display: none;
}

