/* General styling */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

/* Body */

body{
    background: #222;
}

.card{
    max-width: 470px;
    background: linear-gradient(135deg, #00feba , #5b548a); 
    width: 90%;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    
}